<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>One Piece</h1>

    <div id ="app">
      <h2>Straw Hat Pirates</h2>
      <ol>
        <li v-for="character in strawhats">
          {{ character.name }} - {{ character.bounty }}
          <button @click="addToFavorites(character.name)">
            Favorite
          </button>
        </li>
      </ol>

      <h2>Favorite Straw Hat Pirates</h2>
      <ol>
        <li v-for="favchar in favoriteList">{{ favchar }}</li>
      </ol>
      
      <h2></h2>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      const { createApp } = Vue

      Vue.createApp({
        data: () => ({
          message: 'The order of Straw Hat Pirates',
          strawhats: [
            {
              name: "Luffy",
              bounty: 3000000000
            },
            {
              name: "Zoro",
              bounty: 1111000000
            },
            {
              name: "Nami",
              bounty: 366000000
            },
            {
              name: "Usopp",
              bounty: 500000000
            },
            {
              name: "Sanji",
              bounty: 1032000000
            },
            {
              name: "Chopper",
              bounty: 1000
            },
            {
              name: "Robin",
              bounty: 930000000
            },
            {
              name: "Franky",
              bounty: 394000000
            },
            {
              name: "Brook",
              bounty: 383000000
            },
            {
              name: "Jinbe",
              bounty: 1100000000
            }
          ],
          favoriteList: []
        }),
        methods: {
          addToFavorites(character) {
            this.favoriteList.push(character)
          },
          incrementCount() {
            this.count++
          }
        }
      }).mount('#app')

    </script>
  </body>
</html>
